@import '../../theme/variables.css';

.container {
  display: block;
  max-width: 800px;
  margin: 0 auto;
}

.container.text {
  max-width: 600px;
}

.container.fluid {
  width: 100%;
}

.alignright {
  text-align: right;
}

.alignleft {
  text-align: left;
}

.aligncenter {
  text-align: center;
}
