:root {
  /** UI Colors **/
  --backgroundColor: #ffffff;

  /** Neutral Colors **/
  --white: #FAFAFA;
  --black: #222222;
  --lightGrey: #e7e7e7;

  /** Standard Colors **/
  --blue: #4a3bfa;
  --yellow: #ebfa3b;
  --red: #fa4a3b;
  --green: #88B04B;

  /** Text Colors **/
  --textColor: #222222;
  --textInactive: #7d7d7d;


  /** Color Mods **/
  --darkWhite: #F7F7F7;
}
