@import url('https://fonts.googleapis.com/css?family=Yantramanav:300,400,700');

:root {
  --pageFont: 'Yantramanav', 'Helvetica Neue', Helvetica, sans-serif;
  --headerFont: 'Yantramanav', 'Helvetica Neue', Helvetica, sans-serif;
}

html {
  font-size: 14px;
}

body {
  font-family: var(--pageFont);
  font-size: 14px;
  font-smoothing: antialiased;
  line-height: 1.4285em;
  color: var(--textColor);
}

h1, h2, h3, h4, h5 {
  font-family: var(--headerFont);
  line-height: 1.382em;
}

h1 { font-size: 2rem; }
h2 { font-size: 1.7rem; }
h3 { font-size: 1.3rem; }
h4 { font-size: 1.15rem; }
h5 { font-size: 1rem; }
