:root {
  --spaceunit: 16px;

  /************
   *** Tags ***
   ************/
  --tagBgColor: #ffffff;
  --tagPadding: 2px 2px 1px 6px;

  /***************
   *** Buttons ***
   ***************/
  /* TODO */
}
