@import './fonts.css';
@import './colors.css';

:root {
  --sizeUnit: 16px;
  --bodyLayer: 0;

  /************
   *** Tags ***
   ************/
  --tagBgColor: var(--white);
  --tagPadding: 2px 2px 1px 6px;

  /***************
   *** Buttons ***
   ***************/
  /* TODO */
}
